*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.header{
    background-color: #eaeef0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgb(43  15  19 / 30%) 0.1rem 1.2rem 1rem ;
    padding: 1.8rem 0;
    z-index: 1;

}

.maintitulo{
   display: flex;
   width: 400px;
   height: 80px;
   font-size: 15px;
   line-height: 40px;
   position: relative;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;

   overflow: hidden;
}
.maintitulo ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;

}
.maintitulo ul,h1{
    margin: 0px;
}
.main{

    background-color: #eaeef0;
    width: 100%;
    box-shadow: rgb(43  15  19 / 30%) 0.1rem 1.2rem 1rem ;
    padding-top: 100px;
    border: #a76f6f;
    
}

.main p{
    justify-content: center;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@keyframes cambiar {

    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{margin-top: -40px;}
    50%{margin-top:-40px;}

    55%{margin-top: -80px;}
    80%{margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top:0px}


}
img{
    width: 100%;
    margin: 5px;
    padding: 5px;
    
}

.flip3D{
    width: 200px;
    height: 200px;
   
    margin: 10px;
    float: left;
}

.flip3D .front{
    position: absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    background: radial-gradient(rgb(3, 243, 3),rgb(0, 7, 102)); width: 240px; height: 200px;border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}
.flip3D .back{
    position: absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    background: linear-gradient(yellow,red); width: 240px; height: 200px;border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip3D:hover .front{
    transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover .back{
    transform: perspective( 600px ) rotateY( 0deg );
}



