*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.header{
    background-color: #eaeef0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgb(43  15  19 / 30%) 0.1rem 1.2rem 1rem ;
    padding: 0.8rem 0;
    z-index: 1;
}
.headernavbar{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px;
    
    
    
}

.headernavbar li a{

 text-decoration: none;
 color: black;
 padding: 0.3rem;
 font-size: 1.2rem;
}

.headernavbar li a:hover{
     background-color: black;
     color: beige;
     font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     border-bottom : 0.1rem solid #a76f6f;
     border-radius: 0.5rem;
}
.maintitulo{
   display: flex;
   width: 400px;
   height: 70px;
   font-size: 15px;
   line-height: 40px;
   position: relative;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;

   overflow: hidden;
}
.maintitulo ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;

}
.maintitulo ul,h1{
    margin: 0px;
}
.main{

    background-color: #eaeef0;
    width: 100%;
    box-shadow: rgb(43  15  19 / 30%) 0.1rem 1.2rem 1rem ;
    padding-top: 150px;
    
}


@keyframes cambiar {

    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{margin-top: -40px;}
    50%{margin-top:-40px;}

    55%{margin-top: -80px;}
    80%{margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top:0px}


}
